# *
.DS_Store
*.npy
*.d
*~
!*.txt
!*.f
!*.ipynb
!*.c
!*.sh
!Makefile
!.gitignore
!*.awk
!*.py
cowd
hewd
cowd100x50x50
hewd_hr
!cowd/.gitkeep
!hewd/.gitkeep
!cowd100x50x50/.gitkeep
!hewd_hr/.gitkeep
0002_WD_TDE_radiation_transfer
